
/********************************************************************/
.panel.with-nav-tabs{
  background: transparent;
    border: none;
    box-shadow: unset;
}
.panel.with-nav-tabs .panel-heading{
  padding: 5px 5px 0 0;
  background-image:unset;
  border-color: 00479d;
  border-bottom : 3px solid #00479d;
}
.panel.with-nav-tabs .nav-tabs{
border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
margin-bottom: -1px;
}
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color:red;
}
.with-nav-tabs.panel-default .nav-tabs > li > a{
  background:#393939;
  color: white;
  margin-right: 7px
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
background-color: #ddd;
border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
color: white;
background-color: #00479d;
border-color: #00479d;
border-bottom-color: transparent;
}
.add-btn>button{
  padding: 9px 15px;
}
.add-btn>button i{
margin-left: 30px;
}
.marginR-5{
 margin-right: 5px;
}
@media (max-width: 768px) {
  .panel.with-nav-tabs .panel-heading{
    padding: 0px !important;
  }
  .with-nav-tabs.panel-default .nav-tabs{
    width: 100%;
  }
  .with-nav-tabs.panel-default .nav-tabs > li{
    width: 100%;
  }
  .with-nav-tabs.panel-default .nav-tabs > li >a:hover{
    color: white !important;
    background-color: #00479d !important;
  }
  .with-nav-tabs.panel-default .nav-tabs > li:first-child{
    margin-bottom: 10px !important;
  }
  .with-nav-tabs.panel-default .nav-tabs > li > a{
    background: #ddd !important;
    border-color: #ddd !important;
    color: black !important;
    margin: 0 !important;
  }
  .panel.with-nav-tabs .panel-heading{
    border-bottom : 3px solid transparent;
  }
  .accordian >.panel{
    margin-bottom: 0px !important;
  }
  ul li > button{
    border:0px !important;
  }
}

.borderNone{
  border-right: 0px !important;
}
.margin-bottom-0{
  margin-bottom: 0px !important;
}
.margin-top-25{
  margin-top: 25px;
}
.border-0{
  border: 0px !important;
}

.hover-fix:hover, .hover-fix:focus{
  color: white !important;
  opacity: 0.8;
}
.pBottom-20{
  padding-bottom: 20px !important;
}
.anchorin{
  overflow-anchor: auto !important;
}
.tab-content{
  overflow-anchor: none !important;
}
