<div class="print-table DivIdToPrint" *ngIf="en">
  <table border="0" cellspacing="0" cellpadding="0" style="width:800px; margin:50px auto;">
    <tr>
      <td align="center" valign="top"></td>
    </tr>
    <tr>
      <td align="left" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0 0 20px; border:1px solid #aaa;">
          <tr>
            <td align="left" valign="top" colspan="2">
              <h2 style="font-family:arial; font-size:18px; font-weight:bold; margin:0 0 10px; color:#000; background-color:#d7d7d7; padding:10px; border-bottom:1px solid #aaa;">Contract Management</h2>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;" width="50%">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Project Name:</strong> Enter project name
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;" width="50%">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Control Number:</strong> 1233
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Application Date:</strong> 04-15-2020
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Application Division:</strong> Enter Application Division
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">legal Department Reception date: </strong> 04-15-2020
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Application Department:</strong> Enter application department
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Expected Date for conclusion:</strong>04-15-2020
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Applicant:</strong>Enter applicant
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Response deadline by the legal dept.:</strong>04-15-2020
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Person concern:</strong>Enter person concern
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Status:</strong> Creating
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Legal Representative</strong> Enter legal representative
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Legal department notes:</strong>Enter legal department notes
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Legal Department item:</strong>Enter legal department item
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Approval Decision number:</strong> 333
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Box Number:</strong> 555
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Management state:</strong> Select management state
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;"></strong>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0 0 20px; border:1px solid #aaa;">
          <tr>
            <td align="left" valign="top" colspan="2">
              <h2 style="font-family:arial; font-size:18px; font-weight:bold; margin:0 0 10px; color:#000; background-color:#d7d7d7; padding:10px; border-bottom:1px solid #aaa;">Contract Content</h2>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px 15px;">
              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-bottom:1px solid #ccc;">
                <tr>
                  <td align="left" valign="top">
                    <h3 style="font-family:arial; font-size:16px; font-weight:normal; margin:0; color:#000; padding:10px; display:inline-block; border-bottom:none; background-color:#ccc;">Contract Content 01</h3>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">New . Renewal:</strong> New
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Contract type:</strong> Non-disclosure agreement
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Contract Name</strong> Enter contract name
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Contract item:</strong> Enter contract item
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Contractor:</strong> Enter contractor
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Beginning date of the contract:</strong> 04-15-2020
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">End date of the contract:</strong>04-25-2020
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Automatic update:</strong> Yes
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Alert release Date:</strong> 04-20-2020
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Relate contract number:</strong> 0123456789
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Exsistance of the external consultant:</strong> Yes
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">FIX version contract attached:</strong> Attachment
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" colspan="2" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Related Countries: </strong>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">Japan</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">US</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">India</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">Europe</span>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px 15px 0 15px;">
              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                  <td align="left" valign="top">
                    <h3 style="font-family:arial; font-size:16px; font-weight:normal; margin:0; color:#000; padding:10px; display:inline-block; border-bottom:none; background-color:#ccc;">Contract Content 02</h3>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">New . Renewal:</strong> New
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Contract type:</strong> Non-disclosure agreement
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Contract Name</strong> Enter contract name
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Contract item:</strong> Enter contract item
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Contractor:</strong> Enter contractor
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Beginning date of the contract:</strong> 04-15-2020
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">End date of the contract:</strong>04-25-2020
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Automatic update:</strong> Yes
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Alert release Date:</strong> 04-20-2020
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Relate contract number:</strong> 0123456789
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Exsistance of the external consultant:</strong> Yes
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">FIX version contract attached:</strong> Attachment
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" colspan="2" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">Related Countries: </strong>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">Japan</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">US</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">India</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">Europe</span>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0 0 20px; border:1px solid #aaa;">
          <tr>
            <td align="left" valign="top" colspan="2">
              <h2 style="font-family:arial; font-size:18px; font-weight:bold; margin:0 0 10px; color:#000; background-color:#d7d7d7; padding:10px; border-bottom:1px solid #aaa;">Message Content</h2>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block; margin:0 0 10px;">Message:</strong>
              </p>
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;" width="50%">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Attachment:</strong> Attachment
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;" width="50%">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Response Date:</strong> 04-15-2020
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">From(History):</strong> Enter history
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Status(History):</strong> Enter status
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Sent date and time:</strong>04-15-2020 8:30am
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Stakeholder(History):</strong> Enter stakeholder
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Message(History):</strong>
              </p>
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">Attachments(History):</strong> Attachment
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;"></strong>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>


<!-- japeneese version -->
<div class="print-table DivIdToPrint" *ngIf="ja">
  <table border="0" cellspacing="0" cellpadding="0" style="width:800px; margin:50px auto;">
    <tr>
      <td align="left" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0 0 20px; border:1px solid #aaa;">
          <tr>
            <td align="left" valign="top" colspan="2">
              <h2 style="font-family:arial; font-size:18px; font-weight:bold; margin:0 0 10px; color:#000; background-color:#d7d7d7; padding:10px; border-bottom:1px solid #aaa;"> 契約書管理</h2>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;" width="50%">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">案件名:</strong> 入る 案件名
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;" width="50%">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">管理番号:</strong> 1233
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">申請日:</strong> 04-15-2020
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">申請事業部:</strong> 入る 申請事業部
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">法務部受付日: </strong> 04-15-2020
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">申請部署:</strong> 入る 申請部署
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">締結予定日:</strong>04-15-2020
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">申請者:</strong>入る 申請者
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">法務部回答期限:</strong>04-15-2020
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">関係者:</strong>入る 関係者
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">ステータス:</strong> 作成中
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">法務部主担当:</strong> 入る 法務部主担当
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">法務部備考:</strong>入る 法務部備考
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">法務部資料:</strong>入る 法務部資料
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">稟議決裁番号:</strong> 333
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">箱番号:</strong> 555
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">管理状態:</strong> 管理状態
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;"></strong>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0 0 20px; border:1px solid #aaa;">
          <tr>
            <td align="left" valign="top" colspan="2">
              <h2 style="font-family:arial; font-size:18px; font-weight:bold; margin:0 0 10px; color:#000; background-color:#d7d7d7; padding:10px; border-bottom:1px solid #aaa;">契約内容</h2>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px 15px;">
              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-bottom:1px solid #ccc;">
                <tr>
                  <td align="left" valign="top">
                    <h3 style="font-family:arial; font-size:16px; font-weight:normal; margin:0; color:#000; padding:10px; display:inline-block; border-bottom:none; background-color:#ccc;">契約内容 01</h3>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">新・継:</strong> 新規
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約種別:</strong> 秘密保持契約
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約書名:</strong> 入る 契約書名
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約対象品目:</strong> 入る 契約対象品目
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約相手先:</strong> 入る 契約相手先
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約期間　始期:</strong> 04-15-2020
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約期間　終期:</strong>04-25-2020
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">自動更新:</strong> 済
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">アラート発信日:</strong> 04-20-2020
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">関連契約書番号:</strong> 0123456789
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">外部相談有無:</strong> はい
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">FIX版契約書添付:</strong> 別添
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" colspan="2" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">関係国: </strong>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">日本</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">米国</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">インド</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">欧州</span>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px 15px;">
              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-bottom:1px solid #ccc;">
                <tr>
                  <td align="left" valign="top">
                    <h3 style="font-family:arial; font-size:16px; font-weight:normal; margin:0; color:#000; padding:10px; display:inline-block; border-bottom:none; background-color:#ccc;">契約内容 02</h3>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">新・継:</strong> 新規
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約種別:</strong> 秘密保持契約
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約書名:</strong> 入る 契約書名
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約対象品目:</strong> 入る 契約対象品目
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約相手先:</strong> 入る 契約相手先
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約期間　始期:</strong> 04-15-2020
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">契約期間　終期:</strong>04-25-2020
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">自動更新:</strong> 済
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">アラート発信日:</strong> 04-20-2020
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">関連契約書番号:</strong> 0123456789
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">外部相談有無:</strong> はい
                    </p>
                  </td>
                  <td align="left" valign="top" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">FIX版契約書添付:</strong> 別添
                    </p>
                  </td>
                </tr>
                <tr>
                  <td align="left" valign="top" colspan="2" style="padding:10px; border-top:1px solid #ccc;">
                    <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                      <strong style="padding-right:6px; display:inline-block;">関係国: </strong>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">日本</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">米国</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">インド</span>
                      <span style="background-color:#ddd; padding:2px 8px; display:inline-block; margin-right:5px;">欧州</span>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="left" valign="top">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0 0 20px; border:1px solid #aaa;">
          <tr>
            <td align="left" valign="top" colspan="2">
              <h2 style="font-family:arial; font-size:18px; font-weight:bold; margin:0 0 10px; color:#000; background-color:#d7d7d7; padding:10px; border-bottom:1px solid #aaa;">メッセージ内容</h2>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block; margin:0 0 10px;">メッセージ:</strong>
              </p>
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;" width="50%">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">添付:</strong> 別添
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;" width="50%">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">回答希望日:</strong> 04-15-2020
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">送信元（履歴）:</strong> 入る 送信元（履歴）
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">ステータス（履歴）:</strong> 入る ステータス（履歴）
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">送信日時（履歴）:</strong>04-15-2020 8:30am
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">関係者（履歴）:</strong> 入る 関係者（履歴）
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" colspan="2" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">メッセージ（履歴）:</strong>
              </p>
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </td>
          </tr>
          <tr>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0 0 10px; color:#000;">
                <strong style="padding-right:6px; display:inline-block;">添付（履歴）:</strong> 別添
              </p>
            </td>
            <td align="left" valign="top" style="padding:10px; border-bottom:1px solid #ccc;">
              <p style="font-family:arial; font-size:14px; margin:0; color:#000;">
                <strong style="padding-right:6px; display:inline-block;"></strong>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
