<div class="menu-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li><a routerLink="/contractPage" translate><i class="fa fa-angle-double-right" aria-hidden="true"></i> CFORM</a></li>
          <li><a routerLink="/legalPage" translate><i class="fa fa-angle-double-right" aria-hidden="true"></i> LFORM</a></li>
          <li><a routerLink="/accessLog" translate><i class="fa fa-angle-double-right" aria-hidden="true"></i> ACCESSLOG</a></li>
          <li><a routerLink="/caseMgmt" translate><i class="fa fa-angle-double-right" aria-hidden="true"></i> CASE_MGMT</a></li>
          <li><a routerLink="/postData" translate><i class="fa fa-angle-double-right" aria-hidden="true"></i> POST_D_A</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
